<div class="container-user-basic-info">
  <h1 class="red-header">
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
  <h5 class="black-subheader-bold">
      <%= @user.job_description %>
  </h5>
  <div class="user-profile-github">
    <a href="https:www.github.com" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>

<div class="user-profile-image"></div>

<div class="container-user-about">
  <h5 class="black-subheader-bold">
    About me
  </h5>
  <br>
  <p>
    <%= @user.about_me %>
  </p>
</div>

<div class="container-user-profile-skills">
  <h5 class="black-subheader-bold">
      Skills
  </h5>
  <div class="container-user-skills">
    <% @user_skills.each do |skill| %>
      <div class="container-skill">
        <%= skill.technology %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-user-profile-projects">
  <h5 class="black-subheader-bold">
      Projects
  </h5>
  <div class="container-user-projects">
    <% @user_projects.each do |project| %>
      <div class="card-project">
        <h4><%= project.name %></h3>
        <ul>
          <% project.skills.each do |skill| %>
            <li><%= skill.technology %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
