<div class="container p-5">
  <div class="d-flex"> <%# project-header %>
    <div class="header-left-section d-flex flex-column justify-content-around border-bottom"> <%# header-left-section %>
      <p class="m-0 ps-5 pe-5 pb-4 pt-4"><%= link_to '<i class="fa-solid fa-arrow-left-long"></i>'.html_safe, projects_path, class: "me-3" %> <span>Projects</span> / <span , class= "fw-bold"><%= @project.name %></span></p>
      <h1 class="ps-5 pe-5 m-0"><%= @project.name %></h1>
      <div class="ps-5 pe-5 pt-4 pb-4">
        <span class="me-3"><i class="fa-solid fa-user"></i> <%= @project.amount_of_people %></span> <span>Posted by <span class="underlined-bold-text"><%= @project.user.first_name %> <%= @project.user.last_name %></span> <%= @hours %> <%= "hour".pluralize(@hours) %> ago</span>
      </div>
    </div>
    <% if signed_in? %> <%# header-right-section %>
      <div class="header-right-section border-bottom d-flex justify-content-center align-items-center">
        <% if @sent_request && @sent_request.status == "accepted"%>
          <div class="d-flex justify-content-around align-items-center">
            <span class="me-2"><%= link_to '<i class="fa-brands fa-github"></i>'.html_safe, "#" %></span>
            <span><%= link_to "Chatroom", "#", class: "primary-button-medium" %></span>
            <span class="ms-2"><%= link_to "Joined", "#", class: "primary-button-medium reverse-primary-button"%></span>
          </div>
        <% elsif @sent_request && @sent_request.status == "pending" %>
          <div><span class="pending-status">Pending</span></div>
        <% elsif @sent_request.nil? %>
          <div><%= link_to "Join", "#", class: "primary-button-large"%></div>
        <% end %>
      </div>
    <% else %>
      <div class="header-right-section">
        <div class="sign-up text-center">
          <h2>Ready to collaborate?</h2>
          <%= link_to "Sign up", new_user_registration_path, class: "button-signup" %>
          <div>
            <span>Already have an account? </span>
            <%= link_to "Login", new_user_session_path, class: "fw-bold" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="border-bottom p-5"> <%# project-body %>
    <p class="m-0"><%= @project.description %></p>
  </div>
  <div class="p-5"> <%# project-footer %>
    <p class="fw-bold mb-4">Skills</p>
    <div class="d-flex justify-content-around align-items-center flex-grow-1">
      <% @project.project_skills.each do |project_skill| %>
        <span class="skill text-center"><%= project_skill.skill.technology %></span>
      <% end %>
    </div>
  </div>
</div>
